* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    align-items: center;
    min-height: 100vh;
    background-position: center;
}

.element {
    transition: all 0.2s ease;
    transform: scale(1);
  }
  .element:hover {
    transform: scale(1.05);
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .element.selected {
    transform: scale(1.1);
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
    z-index: 20;
  }
  .search-highlight {
    background-color: #fef08a;
  }

nav {
    font-family: "Rubik", sans-serif;
    background-color: #ebfffd;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 80px; 
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    color: #009ad8;
}

nav li:first-child {
    margin-right: auto;
}

img {
    padding: 2px;
    width: 90px;
    margin-left: 30px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    backdrop-filter: blur(50px);
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1); 
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.open {
    width: 26px;
}

.close {
    width: 26px;
}

.menu-button {
    display: none;
}

@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
    
}
@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}